@model Shoppie.ViewModels.OfferVM

@{
    ViewData["Title"] = "Details";
}


<div class="detailsOfferCard">
    <h4>Offer</h4>
    <hr />

   
 <p>

            @Html.DisplayNameFor(model => model.Title):
       
      
            @Html.DisplayFor(model => model.Title)
 </p>
  <p>


            @Html.DisplayNameFor(model => model.Description):
   

            @Html.DisplayFor(model => model.Description)
  </p>
  <p>

  
            @Html.DisplayNameFor(model => model.Price):

            @Html.DisplayFor(model => model.Price)
  </p>
  <p>

   
            @Html.DisplayNameFor(model => model.IsActive):
      
            @Html.DisplayFor(model => model.IsActive)
  </p>
   
    
  <p>

  
            @Html.DisplayNameFor(model => model.IsFinished):

            @Html.DisplayFor(model => model.IsFinished)
  </p>
  <p>


            @Html.DisplayNameFor(model => model.Discount):
     
            @Html.DisplayFor(model => model.Discount)
  </p>
  <p>

  
            @Html.DisplayNameFor(model => model.CreationDate):
     
            @Html.DisplayFor(model => model.CreationDate)
  </p>

 
</div>
