@model OfferManagementModel

@{
    ViewData["Title"] = "Management";
}


<div class="flex__container">

 <form asp-action="GeneratePDF" class="form">
    <h3 class="text-white">Select Category and Generate PDF!</h3>
            <div class="">
                <select asp-for="SelectedCategoryId" class="form-control" asp-items="ViewBag.CategoriesSelectList"></select>
                <span asp-validation-for="Categories"></span>
            </div>
            <div class="">
                @if(Model.Categories.Count > 0)
                {
                    <input type="submit" value="Generate PDF" class="form_button" />
                }
            </div>
        </form>


    <div class="newOffer">
        <h3 class="text-white">Create New Offer!</h3>
        <a class="form_button" asp-action="Create">Create New</a>
    </div>
 
</div>


  
       
  








<table class="styled-table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Description
            </th>
            <th>
               Full Price
            </th>
            <th>
                Is Active
            </th>
            <th>
                Is Finished
            </th>
            <th>
                Discount
            </th>
            <th>
                Creation Date    
            </th>
            <th>
                Category Name
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>

@foreach (var item in Model.Offers)
{
    <tr>
        <td>
           <p>@item.Title</p>     
        </td>
        <td>
            <p>@item.Description</p>
        </td>
        <td>
            <p>@item.Price</p>
        </td>
        <td>
            <p>@item.IsActive</p>     
        </td>
        <td>
            <p>@item.IsFinished</p>     
        </td>
        @if (item.Discount > 0)
        {
            <td>
                <p>

                @Html.DisplayFor(modelItem => item.Discount)%
                </p>
            </td>
        }
        else
        {
            <td></td>
        }
        <td>
            <p>@item.CreationDate</p>
        </td>
        <td>
            <p>@item.CategoryName</p>
        </td>
        <td >
            <p>

            <a asp-action="Details" asp-route-id="@item.Id">Details</a> 
           

            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
          

            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> 
            </p>
        </td>
    </tr>
}
    </tbody>
</table>
